h1 {
  font-family: Helvetica;
  font-size: 50px;
  color: #1e3932;
}

h2 {
  font-family: 'sodo_sanssemibold','Catamaran', "Helvetica", "Gotham", "Helvetica Neue", "Helvetica", Arial, "sans-serif";
font-style: normal; 
}

.float-child {
    display: inline-block;
}

.box {
  display: inline-block;
  margin: 30px;
  width: 80px;
  height: 80px;
  padding: 20px;
  border: 1px solid;
}

.box1 {
  background: #006241; 
  flex: wrap;
  margin: 30px;
  width: 80px;
  height: 80px;
  padding: 20px;
  border: 1px solid #006241;
}

.box2 {
  background: #d50032; 
  flex: wrap; 
  margin: 30px;
  width: 80px;
  height: 80px;
  padding: 20px;
  border: 1px solid #d50032;
}

.box3 {
  background: #d4e9e2;
  flex: wrap;
  margin: 30px;
  width: 80px;
  height: 80px;
  padding: 20px;
  border: 1px solid #d4e9e2;
}
     
.box4 {
  background: #cba258; 
  flex: wrap;
  margin: 30px;
  width: 80px;
  height: 80px;
  padding: 20px;
  border: 1px solid #cba258;
}

.box5 {
  background: #1e3932; 
  flex: wrap; 
  margin: 30px;
  width: 80px;
  height: 80px;
  padding: 20px;
  border: 1px solid #1e3932;
}

.box6 {
  background: #00754a; 
  flex: wrap;
  margin: 30px;
  width: 80px;
  height: 80px;
  padding: 20px;
  border: 1px solid #00754a;

}
